﻿@model FN.CampeonatoWeb.Models.EquipeJogador

@{
    ViewBag.Title = "Edit";
}
<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckeditor/adapters/jquery.js"></script>
<script src="~/Scripts/jquery-2.1.1.js"></script>

<h2>Cadastro de Jogadores por Equipe</h2>

@using (Html.BeginForm("Edit", "EquipeJogador", FormMethod.Post, new { enctype = "multipart/form-data", id = "idForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.EquipeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EquipeId", (IEnumerable<SelectListItem>)ViewBag.Equipes, "Selecione",
                new { @class = "form-control", onchange = "this.form.action='/EquipeJogador/DropDownlistChange';this.form.submit();" })
                @Html.ValidationMessageFor(model => model.EquipeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JogadorId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("JogadorId", (IEnumerable<SelectListItem>)ViewBag.Jogadores, "Selecione",
                new { @class = "form-control", onchange = "this.form.action='/EquipeJogador/DropDownlistChange';this.form.submit();" })
                @Html.ValidationMessageFor(model => model.JogadorId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Posição", htmlAttributes: new { @class = "control-label col-md-2 wide" } )
            <div class="col-md-10">
                @Html.EditorFor(model => model.Jogador.PosicaoJogador.Descricao, new {
               htmlAttributes = new { @class = "form-control", disabled = "disabled" } 
           } )
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" name="action:Save" class="btn btn-default" />
                @Html.ActionLink("Voltar", "List", "EquipeJogador", null, new { @class = "btn btn-default" } )
            </div>
        </div>
    </div>
    <br />

    <p>
        Associações gravadas
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Equipe", "List")
            </th>
            <th>
                @Html.ActionLink("Jogador", "List")
            </th>
            <th>
                @Html.ActionLink("Posição", "List")
            </th>
        </tr>

        @foreach (var item in Model.ListaDados)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Campo1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Campo2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Campo3)
                </td>
            </tr>
        }
    </table>
    <br />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
