﻿@model PagedList.IPagedList<FN.CampeonatoWeb.Models.ArbitroCampeonato>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Edit";
}

<h2>Lista de Equipe de Arbitros para Campeonato</h2>

  @using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<p>
    @Html.ActionLink("Novo", "Edit", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Campeonato", "List", new { sortOrder = "Campeonato" })
        </th>
        <th>
            @Html.ActionLink("Arbitro", "List", new { sortOrder = "Arbitro" })
        </th>
        <th style="width: 2%;" class="center">
            Editar
        </th>
        <th style="width: 2%;" class="center">
            Excluir
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Campeonato.Descricao)
        </td>
        <td align="center">
            @Html.ActionLink(" ", "Edit", "ArbitroCampeonato", new { id = item.Id }, new { @class = "edit-item-link", @title = "Edit" })
        </td>
        <td align="center">
            @Html.ActionLink(" ", "Excluir", "ArbitroCampeonato", new { id = item.Id }, new { @class = "delete-item-link", @title = "Excluir" })
        </td>
    </tr>
}

</table>      
<br/>
}

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, Page_No => Url.Action("List",
    new { Page_No, Sorting_Order = ViewBag.CurrentSortOrder }))

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
