﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Liga Esportiva de Guaianases</title>
    <meta name="description" content="My ASP.NET Application" />

    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        /* Table Styles */
        table {
           width: 100%;
           border: 1px solid #cef;
           margin: 1em 25px;
           text-align: left; }
        th {
           font-weight: bold;
           background-color: #acf;
           border-bottom: 1px solid #cef; }
        td,th {
           padding: 4px 5px; 
           border-left:1px solid #cef; }
        .odd {
           background-color: #def; }
        .odd td {
           border-bottom: 1px solid #cef; }   
    </style>

    <style>
        .PagedList-pager > ul {
            display: block;
            margin: 0;
            padding: 0;
            list-style: none;
        }

            .PagedList-pager > ul > li {
                margin: .25em;
                display: inline-block;
            }

        .PagedList-goToPage > fieldset {
            border: 0;
        }

        .center {
            text-align: center;
        }

        .left {
            text-align: left;
        }

        .right {
            text-align: right;
        }

        .add-item-link {
            display: block;
            width: 16px;
            height: 16px;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            width: 16px;
            height: 16px;
            background: url('../../Content/icons/add.png');
        }

        .delete-item-link {
            display: block;
            width: 16px;
            height: 16px;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            width: 16px;
            height: 16px;
            background: url('../../Content/icons/delete1.png');
        }
        .edit-item-link {
            display: block;
            width: 16px;
            height: 16px;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            width: 16px;
            height: 16px;
            background: url('../../Content/icons/edit.png');
        }
    </style>


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Liga", "Index", "Conteudo", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Início", "Index", "Conteudo")</li>
                    <li>@Html.ActionLink("Sobre", "About", "Home")</li>    
                    <li>@Html.ActionLink("Administrador", "Index", "Administrador")</li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tabelas<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Tipos Campeonatos", "List", "TipoCampeonato")</li>
                            <li>@Html.ActionLink("Tipos Esporte", "List", "TipoEsporte")</li>
                            <li>@Html.ActionLink("Tipos Equipe", "List", "TipoEquipe")</li>
                            <li>@Html.ActionLink("Tempos", "List", "Tempo")</li>
                            <li>@Html.ActionLink("Eventos", "List", "Evento")</li>
                            <li>@Html.ActionLink("Posições de Jogadores", "List", "PosicaoJogador")</li>
                            <li>@Html.ActionLink("Fases", "List", "Fase")</li>
                            <li>@Html.ActionLink("Grupos", "List", "Grupo")</li>
                            <li>@Html.ActionLink("Rodadas", "List", "Rodada")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cadastros<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Campeonatos", "List", "Campeonato")</li>
                            <li>@Html.ActionLink("Temporadas", "List", "Temporada")</li>
                            <li>@Html.ActionLink("Arbitros", "List", "Arbitro")</li>
                            <li>@Html.ActionLink("Jogadores", "List", "Jogador")</li>
                            <li>@Html.ActionLink("Estadios", "List", "Estadio")</li>
                            <li>@Html.ActionLink("Clubes", "List", "Clube")</li>
                            <li>@Html.ActionLink("Equipes", "List", "Equipe")</li>
                            <li>@Html.ActionLink("Jogos", "List", "JogoGeral")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Relacionamentos<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Temporadas por Campeonato", "List", "CampeonatoTemporada")</li>
                            <li>@Html.ActionLink("Arbitros por Temporada", "List", "ArbitroTemporada")</li>
                            <li>@Html.ActionLink("Arbitros por Campeonato", "List", "ArbitroCampeonato")</li>
                            <li>@Html.ActionLink("Estruturas Temporadas", "List", "EstruturaTemporada")</li>
                            <li>@Html.ActionLink("Equipe Jogadores", "List", "EquipeJogador")</li>
                            <li>@Html.ActionLink("Equipes Disputam Campeonato", "List", "EquipeCampeonato")</li>
                            <li>@Html.ActionLink("Equipes Disputam Temporada", "List", "EquipeTemporada")</li>
                        </ul>
                    </li>

                    <li>@Html.ActionLink("Contatos", "Contact", "Home")</li>
                </ul>

                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>

    <div class="container body-content">
        @{ Html.RenderPartial("_Alerts"); }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Nebrati Soluções em Informática</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
