﻿@model PagedList.IPagedList<FN.CampeonatoWeb.Models.TipoEsporte>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Edit";
}

<h2>Lista de Tipos de Esporte</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <p>
        @Html.ActionLink("Novo", "Edit", null, new { @class = "btn btn-default" })
    </p>
    <table class="table" style="width: 100%;">
        <tr>
            <th>
                @Html.ActionLink("Descrição", "List", new { sortOrder = "Descricao" })
            </th>
            <th style="width: 2%;" class="center">
                Editar
            </th>
            <th style="width: 2%;" class="center">
                Excluir
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td align="center">
                    @Html.ActionLink(" ", "Edit", "TipoEsporte", new { id = item.Id }, new { @class = "edit-item-link", @title = "Edit" })
                </td>
                <td align="center">
                    @Html.ActionLink(" ", "Excluir", "TipoEsporte", new { id = item.Id }, new { @class = "delete-item-link", @title = "Excluir", onclick = "return confirm('Confirma Exclusão?')" })
                </td>
            </tr>
        }

    </table>
    <br />
}

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, Page_No => Url.Action("List",
    new { Page_No, Sorting_Order = ViewBag.CurrentSortOrder }))

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
