﻿@model FN.CampeonatoWeb.Models.PosicaoJogador

@{
    ViewBag.Title = "Edit";
}

<h2>Cadastro de Posições de Jogadores</h2>

  @using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group"  >
            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2 wide" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save"  name="action:Save" class="btn btn-default" />                        
                @Html.ActionLink("Voltar","List","PosicaoJogador",null, new { @class="btn btn-default"})
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
