﻿@model FN.CampeonatoWeb.Models.Temporada

@{
    ViewBag.Title = "Edit";
}


<script>
    function moveUp() {
        var selectedIndex = document.getElementById('ListBox1').selectedIndex;

        if (selectedIndex > 0) {
            var textAnt = document.getElementById('ListBox1').options[selectedIndex - 1].text;
            var text = document.getElementById('ListBox1').options[selectedIndex].text;

            document.getElementById('ListBox1').options[selectedIndex].text = textAnt;
            document.getElementById('ListBox1').options[selectedIndex - 1].text = text;
            document.getElementById('ListBox1').selectedIndex = document.getElementById('ListBox1').selectedIndex - 1;

            document.getElementById('hdfCriterioDesempate').value = document.getElementById('ListBox1').options[0].text + '|' + document.getElementById('ListBox1').options[1].text + '|' + document.getElementById('ListBox1').options[2].text + '|' + document.getElementById('ListBox1').options[3].text;
            //sessionStorage.setItem('listaAluno', 'teste');
        }

        return true;
    }

    function moveDown() {
        var selectedIndex = document.getElementById('ListBox1').selectedIndex;

        if (selectedIndex < document.getElementById('ListBox1').options.length - 1) {
            var textPrx = document.getElementById('ListBox1').options[selectedIndex + 1].text;
            var text = document.getElementById('ListBox1').options[selectedIndex].text;

            document.getElementById('ListBox1').options[selectedIndex].text = textPrx;
            document.getElementById('ListBox1').options[selectedIndex + 1].text = text;
            document.getElementById('ListBox1').selectedIndex = document.getElementById('ListBox1').selectedIndex + 1;

            document.getElementById('hdfCriterioDesempate').value = document.getElementById('ListBox1').options[0].text + '|' + document.getElementById('ListBox1').options[1].text + '|' + document.getElementById('ListBox1').options[2].text + '|' + document.getElementById('ListBox1').options[3].text;
        }

        return true;
    }
</script>

<h2>Cadastro de Temporadas</h2>

  @using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CriterioDesempate, new { id = "hdfCriterioDesempate" })

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2 wide" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FormulaDisputa, htmlAttributes: new { @class = "control-label col-md-2 wide" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FormulaDisputa, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
      
        <div class="panel-content-inner">
            <p>Tempo Normal</p>
            <div class="form-group">
                @Html.LabelFor(model => model.PontosVitoria, htmlAttributes: new { @class = "control-label col-md-2 wide" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PontosVitoria, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PontosEmpate, htmlAttributes: new { @class = "control-label col-md-2 wide" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PontosEmpate, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="panel-content-inner">
            <p>Prorrogação</p>
            <div class="form-group">
                @Html.LabelFor(model => model.PontosVitoriaProrrogacao, htmlAttributes: new { @class = "control-label col-md-2 wide" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PontosVitoriaProrrogacao, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PontosEmpateProgrrogacao, htmlAttributes: new { @class = "control-label col-md-2 wide" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PontosEmpateProgrrogacao, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PontosDerrotaProrrogacao, htmlAttributes: new { @class = "control-label col-md-2 wide" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PontosDerrotaProrrogacao, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="panel-content-inner">
            <p>Pênaltis</p>
            <div class="form-group">
                @Html.LabelFor(model => model.PontosVitoriaPenaltis, htmlAttributes: new { @class = "control-label col-md-2 wide" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PontosVitoriaPenaltis, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PontosDerrotaPenaltis, htmlAttributes: new { @class = "control-label col-md-2 wide" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PontosDerrotaPenaltis, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="panel-content-inner">
            <p>Tabela de Classificação</p>
            <div class="form-group" style="position:relative">
                @Html.LabelFor(model => model.CriterioDesempate, htmlAttributes: new { @class = "control-label col-md-2 wide" })
                
                    <p style="width: 100%; ">
                        @Html.ListBoxFor(model => model.OpcoesCriterioDesempate, (ViewBag.CriterioDesempate as SelectList), new { id = "ListBox1", @class = "form-control" })
                        <div style="position: absolute; top: 5px; left: 480px; ">
                            <input type="image" name="Sobe" value="Sobe" src="/content/icons/sobe.png" onclick="moveUp(); return false;" />
                        </div>
                        <div style="position:absolute; top: 52px; left:480px; ">
                            <input type="image" name="Desce" value="Desce" src="/content/icons/desce.png" onclick="moveDown(); return false;" />
                        </div>
                    </p>
                
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NumTimePromovido, htmlAttributes: new { @class = "control-label col-md-2 wide" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NumTimePromovido, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NumTimeCompete1, htmlAttributes: new { @class = "control-label col-md-2 wide" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NumTimeCompete1, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NumTimeCompete2, htmlAttributes: new { @class = "control-label col-md-2 wide" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NumTimeCompete2, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NumTimeRebaixamento, htmlAttributes: new { @class = "control-label col-md-2 wide" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NumTimeRebaixamento, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NumTimeRebaixado, htmlAttributes: new { @class = "control-label col-md-2 wide" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NumTimeRebaixado, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save"  name="action:Save" class="btn btn-default" />                        
                @Html.ActionLink("Voltar", "List", "Temporada", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
