﻿@model FN.CampeonatoWeb.ViewModel.JogoViewModel

@{
    ViewBag.Title = "Edit";
}
<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckeditor/adapters/jquery.js"></script>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>

<style>
    .center {
        text-align: center;
    }
</style>

<h2>Cadastro de Jogos (Equipe Fora - Eventos)</h2>

@using (Html.BeginForm("Edit", "JogoForaEvento", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.JogoId)
    @Html.HiddenFor(model => model.AlteraEventoForaId)

    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Jogador", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("JogadorForaId", (IEnumerable<SelectListItem>)ViewBag.Jogadores, "Selecione",
                new { @class = "form-control", onchange = "this.form.action='/JogoForaEvento/DropDownlistChange';this.form.submit();" })
                @Html.ValidationMessageFor(model => model.JogadorForaId)
                <br />
                <img src="/Jogo/RetrieveJogadorImage/@Model.JogadorForaId" alt="" height=100 width=280 />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Evento", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EventoForaId", (IEnumerable<SelectListItem>)ViewBag.Eventos, "Selecione",
                new { @class = "form-control", onchange = "this.form.action='/JogoForaEvento/DropDownlistChange';this.form.submit();" })
                @Html.ValidationMessageFor(model => model.EventoForaId)
                <br />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Tempo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TempoForaId", (IEnumerable<SelectListItem>)ViewBag.Tempos, "Selecione",
                new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TempoForaId)
                <br />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Minuto", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MinutoFora, new { htmlAttributes = new { @class = "form-control", style = "width:80px;" } })
                @Html.ValidationMessageFor(model => model.MinutoFora)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Quantidade", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QuantidadeFora, new { htmlAttributes = new { @class = "form-control", style = "width:80px;" } })
                @Html.ValidationMessageFor(model => model.QuantidadeFora)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" name="action:IncluirEvento" class="btn btn-default" />
                @Html.ActionLink("Geral", "Edit", "JogoGeral", new { @id = Model.JogoId }, new { @class = "btn btn-default" })
                @Html.ActionLink("Voltar", "Edit", "JogoFora", new { @id = Model.JogoId }, new { @class = "btn btn-default" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <table class="table">
                    <tr>
                        <th>
                            Jogador
                        </th>
                        <th>
                            Evento
                        </th>
                        <th>
                            Tempo
                        </th>
                        <th>
                            Minuto
                        </th>
                        <th>
                            Quantidade
                        </th>
                        <th style="width: 2%;" class="center">
                            Editar
                        </th>
                        <th style="width: 2%;" class="center">
                            Excluir
                        </th>
                    </tr>

                    @if (Model.EventosFora != null)
                    {
                        foreach (var item in Model.EventosFora)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Jogador.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Evento.Descricao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tempo.Descricao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Minuto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantidade)
                                </td>
                                <td align="center">
                                    @Html.ActionLink(" ", "Edit", "JogoForaEvento", new { @id = Model.JogoId, @idEvento = item.Id }, new { @class = "edit-item-link", @title = "Edit" })
                                </td>
                                <td align="center">
                                    @Html.ActionLink(" ", "ExcluirEvento", "JogoForaEvento", new { id = item.Id }, new { @class = "delete-item-link", @title = "Excluir" })
                                </td>
                            </tr>
                        }
                    }
                </table>
                <br />
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    function fileCheck(obj) {
        var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        if ($.inArray($(obj).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
        }
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
