﻿@model FN.CampeonatoWeb.ViewModel.JogoViewModel

@{
    ViewBag.Title = "Edit";
}
<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckeditor/adapters/jquery.js"></script>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>

<style>
    .center {
        text-align: center;
    }
    .formataData {
        width: 45% !important;
    }
    .formataHora {
        width: 20% !important;
    }
</style>

<h2>Cadastro de Jogos (Gerais)</h2>

  @using (Html.BeginForm("Edit", "JogoGeral", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.JogoId)
    @Html.HiddenFor(model => model.JogoEquipeForaId)

    <div class="form-horizontal">

        <div class="form-group">
            @Html.Label("Data do Jogo", htmlAttributes: new { @class = "control-label col-md-2 wide" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control formataData", type = "Date" } })
                @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Hora do Jogo", htmlAttributes: new { @class = "control-label col-md-2 wide" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Hora, new { htmlAttributes = new { @class = "form-control formataHora" } })
                @Html.ValidationMessageFor(model => model.Hora, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EstadioId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EstadioId", (IEnumerable<SelectListItem>)ViewBag.Estadios, "Selecione", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EstadioId)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Arbitragem", htmlAttributes: new { @class = "control-label col-md-2 wide" })
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.ArbitrosSelecionados, new MultiSelectList(ViewBag.Arbitros, "value", "Text", @Model.ArbitrosSelecionados), 
                new { @class = "form-control",  multiple = "multiple", @style = "width:300px;height:96px;" } )                
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Comentários", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Comentarios, 10, 100, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Comentarios)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Equipe de Casa" name="action:SaveGeralCasa" class="btn btn-default" />
                <input type="submit" value="Equipe de Fora" name="action:SaveGeralFora" class="btn btn-default" />
                @Html.ActionLink("Voltar", "List", "JogoGeral", null, new { @class = "btn btn-default" })
            </div>
        </div>

    </div>
  }

<script type="text/javascript">
    function fileCheck(obj) {
        var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        if ($.inArray($(obj).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
        }
    }
</script>

@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
}
