﻿@model IEnumerable<FN.CampeonatoWeb.ViewModel.ContentViewModel>
@{
    ViewBag.Title = "Notícias";
}
<div class="jumbotron">
    <table>
        <tr>
            <td>
                <img width="118" height="120" alt=""
                     src="~/Content/imagem//index_02.gif">
            </td>
            <td>
                <table>
                    <tr>
                        <td>
                            <img alt=""
                                 src="~/Content/imagem//index_03.gif" width="200" height="120">
                        </td>
                    </tr>

                </table>


            </td>
        </tr>
    </table>
    <br />
    <p class="lead">Estamos realizando a Copa River Plate. Acompanhe nossas notícias sobre os jogos</p>
   
</div>
<h2>Notícias</h2>


<p>
    @Html.ActionLink("Criar nova publicação", "Create", null, new { @class = "btn btn-primary" })
</p>

<br />
<table class="table" style="width: 1200px;">
  
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
        </tr>
        <tr>
            <td style="width: 500px;">
                @Html.Raw(item.Contents)
            </td>
        </tr>
        <tr>
            <td>
                <img src="/Conteudo/RetrieveImage/@item.ID" alt="" height=100 width=200 />
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
    }
</table>