﻿@model FN.CampeonatoWeb.ViewModel.JogoViewModel

@{
    ViewBag.Title = "Edit";
}
<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckeditor/adapters/jquery.js"></script>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>

<style>
    .center {
        text-align: center;
    }
</style>

<h2>Cadastro de Jogos (Equipe Fora)</h2>

  @using (Html.BeginForm("Edit", "JogoFora", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.JogoId)
    @Html.HiddenFor(model => model.JogoEquipeForaId)
            
    <div class="form-horizontal">

        <div class="form-group">
            @Html.Label("Equipe", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EquipeForaId", (IEnumerable<SelectListItem>)ViewBag.Equipes, "Selecione",
                                    new { @class = "form-control", onchange = "this.form.action='/JogoFora/DropDownlistChange';this.form.submit();" })
                @Html.ValidationMessageFor(model => model.EquipeForaId)
                <br />
                <img src="/Jogo/RetrieveClubeImage/@Model.ClubeForaId" alt="" height=100 width=280 />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Gols", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GolsFora, new { htmlAttributes = new { @class = "form-control", style = "width:80px;" } })
                @Html.ValidationMessageFor(model => model.GolsFora)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Avancar" name="action:Save" class="btn btn-default" />
                @Html.ActionLink("Voltar", "Edit", "JogoGeral", new { @id = Model.JogoId }, new { @class = "btn btn-default" })
            </div>
        </div>

    </div>
  }

<script type="text/javascript">
    function fileCheck(obj) {
        var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        if ($.inArray($(obj).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
        }
    }
</script>

@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
}
