﻿@model PagedList.IPagedList<FN.CampeonatoWeb.Models.Jogador>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Edit";
}

<h2>Lista de Jogadores</h2>

  @using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<p>
    @Html.ActionLink("Novo", "Edit", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            Foto
        </th>
        <th>
            @Html.ActionLink("Apelido", "List", new { sortOrder = "Apelido" })
        </th>
        <th>
            @Html.ActionLink("Nome", "List", new { sortOrder = "Nome" })
        </th>
        <th>
            @Html.ActionLink("Numero da Camisa", "List", new { sortOrder = "NumeroCamisa" })
        </th>
        <th>
            @Html.ActionLink("Posição de Jogador", "List", new { sortOrder = "PosicaoJogador" })
        </th>
        <th>
            @Html.ActionLink("Data de Nascimento", "List", new { sortOrder = "Nascimento" })
        </th>
        <th>
            E-Mail
        </th>
        <th>
            Nacionalidade
        </th>
        <th style="width: 2%;" class="center">
            Editar
        </th>
        <th style="width: 2%;" class="center">
            Excluir
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="/Jogador/RetrieveImage/@item.Id" alt="" height=30 width=60 />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apelido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroCamisa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PosicaoJogador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NascimentoF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nacionalidade)
        </td>
        <td align="center">
            @Html.ActionLink(" ", "Edit", "Jogador", new { id = item.Id }, new { @class = "edit-item-link", @title = "Edit" })
        </td>
        <td align="center">
            @Html.ActionLink(" ", "Excluir", "Jogador", new { id = item.Id }, new { @class = "delete-item-link", @title = "Excluir" })
        </td>
    </tr>
}

</table>      
<br/>
}

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, Page_No => Url.Action("List",
    new { Page_No, Sorting_Order = ViewBag.CurrentSortOrder }))

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
