﻿@model FN.CampeonatoWeb.Models.Classificacao

@{
    ViewBag.Title = "Filtro";
}

<h2>Filtro de Classificação</h2>

  @using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.TemporadaId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TemporadaId", (IEnumerable<SelectListItem>)ViewBag.Temporadas, "Selecione",
                new { @class = "form-control", onchange = "this.form.action='/Classificacao/DropDownlistChange';this.form.submit();" })
                @Html.ValidationMessageFor(model => model.TemporadaId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FaseId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FaseId", (IEnumerable<SelectListItem>)ViewBag.Fases, "Selecione",
         new { @class = "form-control", onchange = "this.form.action='/Classificacao/DropDownlistChange';this.form.submit();" })
                @Html.ValidationMessageFor(model => model.FaseId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GrupoId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GrupoId", (IEnumerable<SelectListItem>)ViewBag.Grupos, "Selecione",
         new { @class = "form-control", onchange = "this.form.action='/Classificacao/DropDownlistChange';this.form.submit();" })
                @Html.ValidationMessageFor(model => model.GrupoId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Processar", "List", "Classificacao", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
