﻿@{
    ViewBag.Title = "Contatos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua xxx, 222<br />
    São Paulo - SP - Cep: 08280-320<br />
    <abbr title="Telefone">P:7233-4477</abbr>
    
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Support@example.com">Suporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>