﻿
@{
    ViewBag.Title = "Inicio";
}
<script type="text/JavaScript">
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<table width="200" align="center" border="0">
    <tbody>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table width="1024" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td colspan="33"><img width="1024" height="21" alt="" src="~/Content/imagem//index_01.gif"></td>
                            <td><img width="1" height="21" alt="" src="~/Content/imagem//spacer.gif"></td>
                        </tr>
                        <tr>
                            <td rowspan="4" colspan="3">
                                <img width="118" height="120" alt=""
                                     src="~/Content/imagem//index_02.gif">
                            </td>
                            <td rowspan="3" colspan="12">
                                <img width="355" height="110" alt=""
                                     src="~/Content/imagem//index_03.gif">
                            </td>
                            <td rowspan="3" colspan="13">
                                <img width="424" height="110" alt=""
                                     src="~/Content/imagem//index_04.gif">
                            </td>
                            <td colspan="5"><img width="127" height="29" alt="" src="~/Content/imagem//index_05.gif"></td>
                            <td><img width="1" height="29" alt="" src="~/Content/imagem//spacer.gif"></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="http://www.facebook.com.br/ligaesportivadeguaianases">
                                    <img width="49" height="48" alt="" src="~/Content/imagem//index_06.gif"
                                         border="0">
                                </a>
                            </td>
                            <td colspan="2">
                                <a href="http://www.twitter.com/ligaguaianases">
                                    <img width="58" height="48" alt="" src="~/Content/imagem//index_07.gif"
                                         border="0">
                                </a>
                            </td>
                            <td rowspan="8" colspan="2"><img width="20" height="179" alt="" src="~/Content/imagem//index_08.gif"></td>
                            <td><img width="1" height="48" alt="" src="~/Content/imagem//spacer.gif"></td>
                        </tr>
                        <tr>
                            <td colspan="3"><img width="107" height="33" alt="" src="~/Content/imagem//index_09.gif"></td>
                            <td><img width="1" height="33" alt="" src="~/Content/imagem//spacer.gif"></td>
                        </tr>
                        <tr>
                            <td colspan="3"><img width="74" height="10" alt="" src="~/Content/imagem//index_10.gif"></td>
                            <td rowspan="2" colspan="2">
                                <a href="http://www.ligaesportivadeguaianases.com.br/login_liga.html">
                                    <img width="75" height="40" alt="" src="~/Content/imagem//index_11.gif"
                                         border="0">
                                </a>
                            </td>
                            <td rowspan="2" colspan="3">
                                <a href="http://www.ligaesportivadeguaianases.com.br/newsletter.html">
                                    <img width="84" height="40" alt="" src="~/Content/imagem//index_12.gif"
                                         border="0">
                                </a>
                            </td>
                            <td rowspan="4" colspan="3"><img width="99" height="54" alt="" src="~/Content/imagem//index_13.gif"></td>
                            <td rowspan="4" colspan="3">
                                <a onmouseover="MM_swapImage('Image131','','images/bindex_14.gif',1)"
                                   onmouseout="MM_swapImgRestore()" href="http://www.ligaesportivadeguaianases.com.br/sobrealiga.html">
                                    <img name="Image131" width="86" height="54" src="~/Content/imagem//index_14.gif"
                                         border="0">
                                </a>
                            </td>
                            <td rowspan="4" colspan="2">
                                <a onmouseover="MM_swapImage('Image132','','images/bindex_15.gif',1)"
                                   onmouseout="MM_swapImgRestore()" href="http://www.ligaesportivadeguaianases.com.br/#">
                                    <img name="Image132" width="89" height="54" src="~/Content/imagem//index_15.gif"
                                         border="0">
                                </a>
                            </td>
                            <td rowspan="4" colspan="4">
                                <a onmouseover="MM_swapImage('Image133','','images/bindex_16.gif',1)"
                                   onmouseout="MM_swapImgRestore()" href="http://www.ligaesportivadeguaianases.com.br/#">
                                    <img name="Image133" width="96" height="54" src="~/Content/imagem//index_16.gif"
                                         border="0">
                                </a>
                            </td>
                            <td rowspan="4" colspan="2">
                                <a onmouseover="MM_swapImage('Image134','','images/bindex_17.gif',1)"
                                   onmouseout="MM_swapImgRestore()" href="http://www.ligaesportivadeguaianases.com.br/#">
                                    <img name="Image134" width="87" height="54" src="~/Content/imagem//index_17.gif"
                                         border="0">
                                </a>
                            </td>
                            <td rowspan="4" colspan="3">
                                <a onmouseover="MM_swapImage('Image135','','images/bindex_18.gif',1)"
                                   onmouseout="MM_swapImgRestore()" href="http://www.ligaesportivadeguaianases.com.br/#">
                                    <img name="Image135" width="89" height="54" src="~/Content/imagem//index_18.gif"
                                         border="0">
                                </a>
                            </td>
                            <td rowspan="4" colspan="2">
                                <a onmouseover="MM_swapImage('Image136','','images/bindex_19.gif',1)"
                                   onmouseout="MM_swapImgRestore()" href="http://www.ligaesportivadeguaianases.com.br/contato.html">
                                    <img name="Image136" width="92" height="54" src="~/Content/imagem//index_19.gif"
                                         border="0">
                                </a>
                            </td>
                            <td rowspan="4"><img width="15" height="54" alt="" src="~/Content/imagem//index_20.gif"></td>
                            <td><img width="1" height="10" alt="" src="~/Content/imagem//spacer.gif"></td>
                        </tr>
                        <tr>
                            <td colspan="4"><img width="131" height="30" alt="" src="~/Content/imagem//index_21.gif"></td>
                            <td colspan="2">
                                <a href="http://www.ligaesportivadeguaianases.com.br/">
                                    <img width="61" height="30" alt="" src="~/Content/imagem//index_22.gif"
                                         border="0">
                                </a>
                            </td>
                            <td><img width="1" height="30" alt="" src="~/Content/imagem//spacer.gif"></td>
                        </tr>
                        <tr>
                            <td colspan="11"><img width="351" height="7" alt="" src="~/Content/imagem//index_23.gif"></td>
                            <td><img width="1" height="7" alt="" src="~/Content/imagem//spacer.gif"></td>
                        </tr>
                        <tr>
                            <td rowspan="8"><img width="8" height="182" alt="" src="~/Content/imagem//index_24.gif"></td>
                            <td rowspan="7" colspan="8">
                                <object width="333" height="175" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
                                        codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0">
                                    <param name="movie" value="banner2.swf">           <param name="quality"
                                                                                              value="high">        
                                       <embed width="333" height="175" pluginspage="http://www.macromedia.com/go/getflashplayer"
                                                                                                                             src="banner2.swf" type="application/x-shockwave-flash" quality="high">
                                </object>
                            </td>
                            <td rowspan="8" colspan="2"><img width="10" height="182" alt="" src="~/Content/imagem//index_26.gif"></td>
                            <td><img width="1" height="7" alt="" src="~/Content/imagem//spacer.gif"></td>
                        </tr>
                        <tr>
                            <td colspan="3"><img width="99" height="29" alt="" src="~/Content/imagem//index_27.gif"></td>
                            <td colspan="4"><img width="114" height="29" alt="" src="~/Content/imagem//index_28.gif"></td>
                            <td colspan="6"><img width="187" height="29" alt="" src="~/Content/imagem//index_29.gif"></td>
                            <td colspan="3"><img width="114" height="29" alt="" src="~/Content/imagem//index_30.gif"></td>
                            <td colspan="4"><img width="139" height="29" alt="" src="~/Content/imagem//index_31.gif"></td>
                            <td><img width="1" height="29" alt="" src="~/Content/imagem//spacer.gif"></td>
                        </tr>
                        <tr>
                            <td rowspan="2" colspan="5"><img width="162" height="36" alt="" src="~/Content/imagem//index_32.gif"></td>
                            <td rowspan="2" colspan="6"><img width="200" height="36" alt="" src="~/Content/imagem//index_33.gif"></td>
                            <td rowspan="2" colspan="5"><img width="152" height="36" alt="" src="~/Content/imagem//index_34.gif"></td>
                            <td colspan="4"><img width="139" height="15" alt="" src="~/Content/imagem//index_35.gif"></td>
                            <td><img width="1" height="15" alt="" src="~/Content/imagem//spacer.gif"></td>
                        </tr>
                        <tr>
                            <td rowspan="3" colspan="6">
                                <a href="http://www.ligaesportivadeguaianases.com.br/#">
                                    <img width="159" height="73" alt="" src="~/Content/imagem//index_36.gif"
                                         border="0">
                                </a>
                            </td>
                            <td><img width="1" height="21" alt="" src="~/Content/imagem//spacer.gif"></td>
                        </tr>
                        <tr>
                            <td colspan="16"><img width="514" height="38" alt="" src="~/Content/imagem//index_37.gif"></td>
                            <td><img width="1" height="38" alt="" src="~/Content/imagem//spacer.gif"></td>
                        </tr>
                        <tr>
                            <td rowspan="6" colspan="16">
                                <a href="http://www.ligaesportivadeguaianases.com.br/#">
                                    <img width="514" height="119" alt="" src="~/Content/imagem//index_38.gif"
                                         border="0">
                                </a>
                            </td>
                            <td><img width="1" height="14" alt="" src="~/Content/imagem//spacer.gif"></td>
                        </tr>
                        <tr>
                            <td rowspan="3" colspan="6">
                                <a href="http://www.ligaesportivadeguaianases.com.br/#">
                                    <img width="159" height="85" alt="" src="~/Content/imagem//index_39.gif"
                                         border="0">
                                </a>
                            </td>
                            <td><img width="1" height="51" alt="" src="~/Content/imagem//spacer.gif"></td>
                        </tr>
                        <tr>
                            <td colspan="8"><img width="333" height="7" alt="" src="~/Content/imagem//index_40.gif"></td>
                            <td><img width="1" height="7" alt="" src="~/Content/imagem//spacer.gif"></td>
                        </tr>
                        <tr>
                            <td colspan="10"><img width="346" height="27" alt="" src="~/Content/imagem//index_41.gif"></td>
                            <td><img width="5" height="27" alt="" src="~/Content/imagem//index_42.gif"></td>
                            <td><img width="1" height="27" alt="" src="~/Content/imagem//spacer.gif"></td>
                        </tr>
                        <tr>
                            <td colspan="11"><img width="351" height="10" alt="" src="~/Content/imagem//index_43.gif"></td>
                            <td rowspan="5" colspan="6">
                                <a href="http://www.ligaesportivadeguaianases.com.br/#">
                                    <img width="159" height="88" alt="" src="~/Content/imagem//index_44.gif"
                                         border="0">
                                </a>
                            </td>
                            <td><img width="1" height="10" alt="" src="~/Content/imagem//spacer.gif"></td>
                        </tr>
                        <tr>
                            <td rowspan="2" colspan="11">
                                <a href="http://www.ligaesportivadeguaianases.com.br/sistema/socio.php">
                                    <img width="351" height="28" alt="" src="~/Content/imagem//index_45.gif"
                                         border="0">
                                </a>
                            </td>
                            <td><img width="1" height="10" alt="" src="~/Content/imagem//spacer.gif"></td>
                        </tr>
                        <tr>
                            <td rowspan="3" colspan="16">
                                <img width="514" height="68" alt=""
                                     src="~/Content/imagem//index_46.gif">
                            </td>
                            <td><img width="1" height="18" alt="" src="~/Content/imagem//spacer.gif"></td>
                        </tr>
                        <tr>
                            <td colspan="11">
                                <a href="http://www.ligaesportivadeguaianases.com.br/login_liga.html">
                                    <img width="351" height="25" alt="" src="~/Content/imagem//index_47.gif"
                                         border="0">
                                </a>
                            </td>
                            <td><img width="1" height="25" alt="" src="~/Content/imagem//spacer.gif"></td>
                        </tr>
                        <tr>
                            <td colspan="11">
                                <a href="http://www.ligaesportivadeguaianases.com.br/copariver2014.html">
                                    <img width="351" height="25" alt="" src="~/Content/imagem//index_48.gif"
                                         border="0">
                                </a>
                            </td>
                            <td><img width="1" height="25" alt="" src="~/Content/imagem//spacer.gif"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><img width="114" height="17" alt="" src="~/Content/imagem//index_49.gif"></td>
                            <td colspan="5"><img width="118" height="17" alt="" src="~/Content/imagem//index_50.gif"></td>
                            <td colspan="4"><img width="119" height="17" alt="" src="~/Content/imagem//index_51.gif"></td>
                            <td><img width="54" height="17" alt="" src="~/Content/imagem//index_52.gif"></td>
                            <td rowspan="2" colspan="8"><img width="270" height="50" alt="" src="~/Content/imagem//index_53.gif"></td>
                            <td rowspan="2" colspan="12">
                                <img width="338" height="50" alt=""
                                     src="~/Content/imagem//index_54.gif">
                            </td>
                            <td rowspan="2"><img width="11" height="50" alt="" src="~/Content/imagem//index_55.gif"></td>
                            <td><img width="1" height="17" alt="" src="~/Content/imagem//spacer.gif"></td>
                        </tr>
                        <tr>
                            <td><img width="8" height="33" alt="" src="~/Content/imagem//index_56.gif"></td>
                            <td colspan="11"><img width="397" height="33" alt="" src="~/Content/imagem//index_57.gif"></td>
                            <td><img width="1" height="33" alt="" src="~/Content/imagem//spacer.gif"></td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <a href="http://www.ligaesportivadeguaianases.com.br/galeria2014.html">
                                    <img width="166" height="107" alt="" src="~/Content/imagem//index_58.gif"
                                         border="0">
                                </a>
                            </td>
                            <td colspan="4">
                                <a href="http://www.ligaesportivadeguaianases.com.br/galeria2014.html">
                                    <img width="175" height="107" alt="" src="~/Content/imagem//index_59.gif"
                                         border="0">
                                </a>
                            </td>
                            <td colspan="7">
                                <a href="http://www.ligaesportivadeguaianases.com.br/galeria2014.html">
                                    <img width="172" height="107" alt="" src="~/Content/imagem//index_60.gif"
                                         border="0">
                                </a>
                            </td>
                            <td colspan="5">
                                <a href="http://www.ligaesportivadeguaianases.com.br/comite.html">
                                    <img width="173" height="107" alt="" src="~/Content/imagem//index_61.gif"
                                         border="0">
                                </a>
                            </td>
                            <td colspan="5">
                                <a href="http://www.ligaesportivadeguaianases.com.br/campeoes_boi.html">
                                    <img width="171" height="107" alt="" src="~/Content/imagem//index_62.gif"
                                         border="0">
                                </a>
                            </td>
                            <td colspan="7">
                                <a href="http://www.ligaesportivadeguaianases.com.br/regulamento_boi.PDF">
                                    <img width="167" height="107" alt="" src="~/Content/imagem//index_63.gif"
                                         border="0">
                                </a>
                            </td>
                            <td><img width="1" height="107" alt="" src="~/Content/imagem//spacer.gif"></td>
                        </tr>
                        <tr>
                            <td colspan="13">
                                <a href="http://www.ligaesportivadeguaianases.com.br/galeria2014.html">
                                    <img width="414" height="31" alt="" src="~/Content/imagem//index_64.gif"
                                         border="0">
                                </a>
                            </td>
                            <td colspan="8">
                                <a href="http://www.ligaesportivadeguaianases.com.br/galeria2014.html">
                                    <img width="272" height="31" alt="" src="~/Content/imagem//index_65.gif"
                                         border="0">
                                </a>
                            </td>
                            <td colspan="12"><img width="338" height="31" alt="" src="~/Content/imagem//index_66.gif"></td>
                            <td><img width="1" height="31" alt="" src="~/Content/imagem//spacer.gif"></td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <a href="http://www.ligaesportivadeguaianases.com.br/galeria2014.html">
                                    <img width="166" height="110" alt="" src="~/Content/imagem//index_67.gif"
                                         border="0">
                                </a>
                            </td>
                            <td colspan="4">
                                <a href="http://www.ligaesportivadeguaianases.com.br/galeria2014.html">
                                    <img width="175" height="110" alt="" src="~/Content/imagem//index_68.gif"
                                         border="0">
                                </a>
                            </td>
                            <td colspan="7">
                                <a href="http://www.ligaesportivadeguaianases.com.br/galeria2014.html">
                                    <img width="172" height="110" alt="" src="~/Content/imagem//index_69.gif"
                                         border="0">
                                </a>
                            </td>
                            <td colspan="5"><img width="173" height="110" alt="" src="~/Content/imagem//index_70.gif"></td>
                            <td colspan="5"><img width="171" height="110" alt="" src="~/Content/imagem//index_71.gif"></td>
                            <td colspan="7"><img width="167" height="110" alt="" src="~/Content/imagem//index_72.gif"></td>
                            <td><img width="1" height="110" alt="" src="~/Content/imagem//spacer.gif"></td>
                        </tr>
                        <tr>
                            <td colspan="28">
                                <a href="http://www.ligaesportivadeguaianases.com.br/galeria2014.html">
                                    <img width="897" height="26" alt="" src="~/Content/imagem//index_73.gif"
                                         border="0">
                                </a>
                            </td>
                            <td colspan="5"><img width="127" height="26" alt="" src="~/Content/imagem//index_74.gif"></td>
                            <td><img width="1" height="26" alt="" src="~/Content/imagem//spacer.gif"></td>
                        </tr>
                        <tr>
                            <td colspan="28"><img width="897" height="51" alt="" src="~/Content/imagem//index_75.gif"></td>
                            <td colspan="5">
                                <a href="http://www.alfacode.com.br/">
                                    <img width="127"
                                         height="51" alt="" src="~/Content/imagem//index_76.gif"
                                         border="0">
                                </a>
                            </td>
                            <td><img width="1" height="51" alt="" src="~/Content/imagem//spacer.gif"></td>
                        </tr>
                        <tr>
                            <td><img width="8" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="106" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="4" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="13" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="35" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="26" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="40" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="35" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="74" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="5" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="5" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="54" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="9" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="36" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="23" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="40" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="23" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="28" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="61" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="50" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="11" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="27" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="8" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="30" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="57" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="49" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="8" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="32" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="49" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="43" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="15" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="9" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td><img width="11" height="1" alt="" src="~/Content/imagem//spacer.gif"></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table><!-- End ImageReady Slices -->


