﻿@model PagedList.IPagedList<FN.CampeonatoWeb.Models.Clube>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Edit";
}

<h2>Lista de Clubes</h2>

  @using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<p>
    @Html.ActionLink("Novo", "Edit", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            Foto
        </th>
        <th>
            @Html.ActionLink("Nome", "List", new { sortOrder = "Nome" })
        </th>
        <th>
            @Html.ActionLink("Descricao", "List", new { sortOrder = "Descricao" })
        </th>
        <th>
            @Html.ActionLink("Data da Fundação", "List", new { sortOrder = "DataFundacao" })
        </th>
        <th>
            @Html.ActionLink("Estádio", "List", new { sortOrder = "Estadio" })
        </th>
        <th>
            @Html.ActionLink("Cidade", "List", new { sortOrder = "Cidade" })
        </th>
        <th>
            @Html.ActionLink("País", "List", new { sortOrder = "Pais" })
        </th>
        <th style="width: 2%;" class="center">
            Editar
        </th>
        <th style="width: 2%;" class="center">
            Excluir
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="/Clube/RetrieveClubeImage/@item.Id" alt="" height=30 width=60 />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataFundacaoF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estadio.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pais)
        </td>
        <td align="center">
            @Html.ActionLink(" ", "Edit", "Clube", new { id = item.Id }, new { @class = "edit-item-link", @title = "Edit" })
        </td>
        <td align="center">
            @Html.ActionLink(" ", "Excluir", "Clube", new { id = item.Id }, new { @class = "delete-item-link", @title = "Excluir" })
        </td>
    </tr>
}

</table>      
<br/>
}

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, Page_No => Url.Action("List",
    new { Page_No, Sorting_Order = ViewBag.CurrentSortOrder }))

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
