﻿@model FN.CampeonatoWeb.Models.EquipeTemporada

@{
    ViewBag.Title = "Edit";
}

<h2>Cadastro de Equipes que Disputam a Temporada</h2>

  @using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.CampeonatoId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CampeonatoId", (IEnumerable<SelectListItem>)ViewBag.Campeonatos, "Selecione",
                new { @class = "form-control", onchange = "this.form.action='/EquipeTemporada/DropDownlistChange';this.form.submit();" })
                @Html.ValidationMessageFor(model => model.CampeonatoId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TemporadaId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TemporadaId", (IEnumerable<SelectListItem>)ViewBag.Temporadas, "Selecione",
                new { @class = "form-control", onchange = "this.form.action='/EquipeTemporada/DropDownlistChange';this.form.submit();" })
                @Html.ValidationMessageFor(model => model.TemporadaId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EquipeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EquipeId", (IEnumerable<SelectListItem>)ViewBag.Equipes, "Selecione",
                new { @class = "form-control", onchange = "this.form.action='/EquipeTemporada/DropDownlistChange';this.form.submit();" })
                @Html.ValidationMessageFor(model => model.EquipeId, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" name="action:Save" class="btn btn-default" />
                @Html.ActionLink("Voltar", "List", "EquipeTemporada", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
    <br />

    <p>
        Associações gravadas
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Campeonato", "List")
            </th>
            <th>
                @Html.ActionLink("Temporada", "List")
            </th>
            <th>
                @Html.ActionLink("Equipe", "List")
            </th>
        </tr>

        @foreach (var item in Model.ListaDados)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Campo1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Campo2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Campo3)
                </td>
            </tr>
        }

    </table>
    <br />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}