﻿@model FN.CampeonatoWeb.Models.Equipe

@{
    ViewBag.Title = "Edit";
}
<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckeditor/adapters/jquery.js"></script>

<h2>Cadastro de Equipe</h2>

  @using (Html.BeginForm("Edit","Equipe", FormMethod.Post, new { enctype ="multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2 wide" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClubeId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClubeId", (IEnumerable<SelectListItem>)ViewBag.Clubes, "Selecione", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ClubeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoEsporteId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TipoEsporteId", (IEnumerable<SelectListItem>)ViewBag.TiposEsportes, "Selecione", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TipoEsporteId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoEquipeId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TipoEquipeId", (IEnumerable<SelectListItem>)ViewBag.TiposEquipes, "Selecione", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TipoEquipeId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save"     name="action:Save" class="btn btn-default" />                        
                @Html.ActionLink("Voltar", "List", "Equipe", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
